body{
background-color: rgb(179, 245, 250);

}
h1{
    text-align: center;
    font-style: italic;
}
.content{
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}
.textboxstyle{
    width: 500px;
    border-radius: 3px;
    padding: 15px;
    border-width: 0px;
    margin: 5px;
}
.buttonstyle{
    background-color:  rgb(66, 66, 158);
    color: aliceblue;
    padding: 4px;
    margin: 5px;
    margin-left: 10px;
} 

.list-style{
    list-style-type: none;
}
